<% layout('layout/layout') %>
<% block('header').append(`<style>
.page-head-title {
    text-align: left;
    text-transform: none;
    padding: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px #e5e5e5 solid;
}
.page {
    padding:60px 20px 20px;
    overflow: hidden;
}
</style>`)%>
<div class="container">
    <% var indexCata =  catalogs.find(item => item.name === article.catalogName)%>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="page " >
                <article>
                    <h2 style="margin-top:0;" class="page-head-title"><%=article.title %></h2>
                    <p class="fs16 ">
                        <span class=" margin-right20"><i class="iconfont icon-browse  padding-right5 "></i><%=article.read_count %></span>
                        <span><i class="iconfont icon-history padding-right5 "></i><%=article.update_at_ago()%></span>
                    </p>
                    <blockquote>
                        <p class="fs13 text-muted"><%= article.subTitle%></p>
                    </blockquote>
                    <% if (article.imgUrl) { %>
                    <div class="margin-bottom">
                        <img src="<%=article.bigImg() %>" style="max-width:100%" >
                    </div>
                    <% } %>
                    <section class="fs16">
                        <%- article.content %>
                    </section>
                </article>
            </div>
        </div>

    </div>


</div>
<% block('footer').append(`<script>

</script>`)%>