<% layout('layout/layout') %>
<% block('header').append(`<style>
.media-list .media {
    border-bottom:1px solid #e5e5e5;
}
</style>`) %>
<div class="container">
    <div style="height: 200px;background: url(/upload/banner_other1.jpg) no-repeat center;background-size: cover;" ></div>
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><%= title %></li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <% include ../navbar/hotArtNav %>
            <% include ../navbar/addrNav %>
        </div>
        <div class="col-md-9">
            <ul class="media-list">
                <% articles.forEach(function(item){%>
                <li class="media">
                    <% if(item.imgUrl){ %>
                    <div class="media-left">
                        <a href="/article/detail/<%=item._id %>">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="<%= item.imgUrl%>" data-holder-rendered="true" style="width: 64px; ">
                        </a>
                    </div>
                    <%  } %>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="link" href="/article/detail/<%=item._id %>" ><%=item.title %></a></h4>
                        <p class="text-muted"><%=item.subTitle %></p>
                        <p class="fs12 text-muted">
                           <span class="fs12 margin-right20"><i class="iconfont icon-browse  padding-right5 "></i><%=item.read_count %></span>
                           <span><i class="iconfont icon-history padding-right5 "></i><%=item.update_at_ago()%></span>
                        </p>
                    </div>
                </li>
                <% })%>
            </ul>
            <div class="j_pager" data-page="<%=page %>"  data-param="<%=query.catalog?'catalog='+query.catalog:'' %>"   data-count="<%=count %>"></div>
        </div>

    </div>
</div>
<% block('footer').append(`<script src="/js/jPager.js" ></script>`); %>
<% block('footer').append(`<script>
jQuery(function () {
	$('.j_pager').pager()
})
</script>`) %>