<% layout('layout/layout') %>
<% block('header').append(`<style>
.media-list .media {
    border-bottom:1px solid #e5e5e5;
}
</style>`) %>
<div class="container-fluid relative">
    <div class="container" style="height:26vw">
        <div class="fs48 light text-center" style="line-height:26vw;"><%= title %></div>
    </div>
    <div class="img_wrap_bg" >
        <div class="trans_mask" ></div>
        <div class="bg" style="background-image:url(<%=navPage.imgUrl%>)"></div>
    </div>
</div>
<div class="container-fluid padding-top30">
    <div class="row">
        <% articles.forEach(function(item){%>
            <div class="col-xs-12 col-sm-6 col-md-4 " >
                <a  href="/article/detail/<%=item._id %>" class="bl_card light_bg" style="display:block;margin-bottom:20px;">
                    <div class="bl_img_wrap" style="min-height:14vw;">
                        <img src="<%=(item.imgUrl || '').replace(/(_\$sma[^\.]+)/, '') %>">
                    </div>
                    <div style="padding:30px;background:#FFF;">
                        <div class="fs20 color_333" style="line-height:1.5;"><%=item.title %></div>
                        <div class="fs14" style="color:#808080;"><%=item.subTitle %></div>
                        <div class="fs12"><%=item.update_at_ago()%></div>
                    </div>
                </a>
            </div>
        <% })%>
    </div>
    <div class="container text-center">
        <div class="j_pager" data-page="<%=page %>"  data-param="<%=query.catalog?'catalog='+query.catalog:'' %>"   data-count="<%=count %>"></div>
    </div>
</div>
<% block('footer').append(`<script src="/js/jPager.js" ></script>`); %>
<% block('footer').append(`<script>
jQuery(function () {
	$('.j_pager').pager()
})
</script>`) %>