<% layout('layout/appLayout') %>
<% block('header').append(`<style>
.page__ft {
  position:fixed;
  width:100%;
  bottom:0;
  left:0;
  z-index: 100;
  background:#FFF;
  height:49px;
  line-height:49px;
  border-top:1px solid #e3e3e3;
}
.goods_btn_primary {
  color:#FFF;
  display:inline-block;
  background:#58953b;
  padding:0 20px;
  text-align:center;
  border-left:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
        display: block;
    border: none;
    outline: none;
    font-size: 16px;
    height: 100%;
}
</style>`) %>
<div class="page has_head has_tab">
    <div class="page__hd weui-flex">
        <div style="width:60px;padding-left:10px;">
            <a href="/app/index">返回</a>
        </div>
        <div class="weui-flex__item">
            <h1 class="title"><%=title%></h1>
        </div>
        <div style="width:60px;"></div>
    </div>
    <div class="page_bd">
        <div class="weui-cells__title">收货地址</div>
        <div class="weui-panel weui-panel_access" style="margin-top:0;">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%=address.name %> <span class="padding-left"><%=address.mobile%></span></h4>
                        <p class="weui-media-box__desc"><%=address.address %></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-cells__title">商品详情</div>
        <div class="weui-panel weui-panel_access" style="margin-top:0;">
            <div class="weui-panel__bd">
                <% goods.forEach(function(item){ %>
                <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="<%=item.goods.imgTmb%>" alt="">
                    </div>
                    <div class="weui-media-box__bd" style="height:60px;">
                        <h4 class="weui-media-box__title fs14"><%=item.goods.name %></h4>
                        <p class="weui-media-box__desc fs12">单价：￥<%=item.goods.sellPrice %></p>
                    </div>
                    <div class="weui-media-box__ft text-right" style="height:60px;">
                        <p class="text-muted">x <%=item.num %></p>
                        <p class="text-muted">￥<%=item.subTotal %></p>
                    </div>
                </div>
                <% }) %>
            </div>
            <div class="weui-panel__ft">
                <div class="weui-cell   weui-flex">
                    <div class="weui-cell__bd"></div>
                    <span class="weui-cell__ft" style="color:#656565;">合计金额：￥<%=totalPrice %></span>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft weui-flex">
        <div class="weui-flex__item padding-left15">
           应付：
        </div>
        <div >
          <a id="addCart" href="/app/paySucc" class="goods_btn goods_btn_primary">微信支付</a>
        </div>
    </div>
</div>
<% block('footer').append(`<script>
</script>`) %>