<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<%=assetsPath %>/lib/html5shiv.js"></script>
    <script type="text/javascript" src="<%=assetsPath %>/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="<%=assetsPath %>/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="<%=assetsPath %>/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="<%=assetsPath %>/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="<%=assetsPath %>/h-ui.admin/skin/blue/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="<%=assetsPath %>/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="<%=assetsPath %>/css/main.css">
    <%- block('header') %>
    <title>我的桌面</title>
</head>
<body>
<%- body %>
<footer class="footer mt-20">
    <div class="container">
        本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
    </div>
</footer>
<script type="text/javascript" src="<%=assetsPath %>/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="<%=assetsPath %>/h-ui/js/H-ui.min.js"></script>
<%- block('footer') %>
</body>
</html>