<% layout('layout/layout') %>
<% block('header').append(`<style>
.j_pager .pagination{
    margin:0;
}
.my_tab {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
}
.my_tab li {
  float: left;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.my_tab .active {
  background: #FFF;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.mask {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0, 0, 0, 0.3);
}
.mask > div {
  color:#FFF;
  font-size:16px;
  position:absolute;
  top:50%;
  margin-top:-10px;
  width:100%;
  text-align:center;
}
</style>`)%>
<ul class="my_tab clearfix">
  <li class="<%=query.step == '01'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=01" >初评成绩</a></li>
  <li class="<%=query.step == '02'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=02">复评成绩</a></li>
  <li class="<%=query.step== '03'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=03">半决选成绩</a></li>
  <li class="<%=query.step == '04'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=04">总决选成绩</a></li>
</ul>
<div id="imageManage" class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= stepStr %>数据</h3>
        <div class="box-tools">
          <a id="clearData" data-id="<%=phaseId %>" data-step="<%=query.step%>" data-str="清空<%= stepStr %>数据" class="btn btn-sm btn-danger">清空<%= stepStr %>数据</a>
          <a id="imgUpload" data-path="/admin/uploadXlsx" data-params='{"phaseId":"<%=phaseId %>","step":"<%=query.step%>"}' class="btn  btn-sm btn-success">xlxs上传<%=stepStr %>数据</a> 
        </div>
      </div>
      <div class="row" style="padding-left:15px;"> 
        <div class="col-xs-6">
          <div class="form-group" >
            <input type="text" id="searchInput" class="form-control" placeholder="输入姓名查询">
          </div>
        </div>      
        <div class="col-xs-4"><button id="searchBtn" class="btn btn-default">查询</button></div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table  class="table table-bordered table-hover">
          <thead>
            <tr>
                <th>学校全称</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>年级</th>
                <th>考号</th>
                <th><%=stepStr %></th>
                <% if(upStr) { %>
                <th>是否晋级<%=upStr %></th>
                <% } %>
                <th>指导老师</th>
                <th>报名方式</th>
              </tr>
              <% if(list.length==0){ %>
              <tr>
                <td class="text-center" colspan="10" style="padding:30px;">没有导入任何数据</td>
              </tr>
              <% }%>
          </thead>
          <tbody id="tbody" data-id="<%=phaseId %>" data-step="<%=query.step %>" >
          <% list.forEach(function(item){ %>
          <tr>
            <td><%=item.school %></td>
            <td><%=item.username %></td>
            <td><%=item.mobile %></td>
            <td><%=item.grade %></td>
            <td><%=item.enterNo %></td>
            <td><%=item.score %></td>
            <% if(upStr) { %>
            <td><%=item.isUp %></td>
            <% } %>
            <td><%=item.teacher %></td>
            <td><%=item.joinStat %></td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="j_pager" data-ajax="true" data-param="step=<%=query.step %>" data-page="<%=page || 0 %>"  data-count="<%=count || 1 %>"></div>
  </div>

</div>
<% block('footer').append(`<script src="${assetsPath}/js/jPager.js" ></script>`); %>
<% block('footer').append(`<script src="${assetsPath}/js/uploadFile.js"></script>`); %>
<% block('footer').append(`<script>
jQuery(function(){
  function request(data, cb) {
    var id = $('#tbody').data('id')
    var step = $('#tbody').data('step')
    var params = data || {} 
    params.step = step
    $.post('/admin/phaseRating/list/'+id, params).done(function(res) {
      var upStr = res.data.upStr
      var list = res.data.list
      var html = ''
      if(list && list.length) {
        list.forEach(function(item) {
          html += '<tr>' + 
          '<td>'+item.school+'</td>' +
          '<td>'+item.username+'</td>' +
          '<td>'+item.mobile+'</td>' +
          '<td>'+item.grade+'</td>' +
          '<td>'+item.enterNo+'</td>' +
          '<td>'+item.score+'</td>'
          if (upStr) {
            html += '<td>'+item.isUp+'</td>'
          } 
          html += '<td>'+item.teacher+'</td>' +
              '<td>'+item.joinStat+'</td>' +
              '</tr>'
        })
      } else {
        html +='<tr><td colspan="8">没有查询到数据</td></tr>'
      }
      $('#tbody').html(html)
      cb && cb(res.data)
    })
  }
    $('.j_pager').pager({
      callback:function(page) {
        var search = $('#searchInput').val()
        console.log(search)
        var params = {
          page:page
        }
        if(search) {
          params.search = search
        }
        request(params)
      }
    });
    $('#searchBtn').on('click',function () {
      var search = $('#searchInput').val()
      var params = {
          page:1
        }
        if(search) {
          params.search = search
        }
        request(params, function (res) {
          $('.j_pager').pager('refresh',{
            pageCount:res.count || 1,
            page:1,
            noCb: true
          })
        })
    })
    $('#imgUpload').uploadFile(function(imgs){
      $.alert('上传成功').then(function (res){
        location.reload();
      })
    });
    $('#clearData').on('click',function(){
      var $clearData = $('#clearData')
      $.confirm('你确定要'+ $clearData.data('str')+'的数据么？').then(function(val){
        if(val) {
          $.post('/admin/phaseRating/clear/'+$clearData.data('id')+'/'+$clearData.data('step')).done(function(res) {
            $.alert('清空成功，请重新上传数据').then(function (res){
              location.reload();
            })
          })
        }
      })
    })
})
</script>`)%>