<% layout('layout/layout') %>
<% block('header').append(`<style>
.j_pager .pagination{
    margin:0;
}
.my_tab {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
}
.my_tab li {
  float: left;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.my_tab .active {
  background: #FFF;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
</style>`)%>
<ul class="my_tab clearfix">
  <li class="<%=query.step == '01'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=01" >初评成绩</a></li>
  <li class="<%=query.step == '02'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=02">复评成绩</a></li>
  <li class="<%=query.step== '03'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=03">半决选成绩</a></li>
  <li class="<%=query.step == '04'? 'active': '' %>"><a href="<%=assetsPath %>/phaseRating/list/<%=phaseId %>?step=04">总决选成绩</a></li>
</ul>
<div id="imageManage" class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"><%= stepStr %>数据</h3>
        <div class="box-tools">
          <a id="imgUpload" data-path="/admin/uploadXlsx" data-params='{"phaseId":"<%=phaseId %>","step":"<%=query.step%>"}' class="btn  btn-sm btn-success">xlxs上传<%=stepStr %>数据</a>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table  class="table table-bordered table-hover">
          <tbody>
          <tr>
            <th>学校全称</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>年级</th>
            <th>考号</th>
            <th><%=stepStr %></th>
            <% if(upStr) { %>
            <th>是否晋级<%=upStr %></th>
            <% } %>
            <th>指导老师</th>
            <th>报名方式</th>
          </tr>
          <% if(list.length==0){ %>
          <tr>
            <td class="text-center" colspan="10" style="padding:30px;">没有导入任何数据</td>
          </tr>
          <% }%>
          <% list.forEach(function(item){ %>
          <tr>
            <td><%=item.school %></td>
            <td><%=item.username %></td>
            <td><%=item.mobile %></td>
            <td><%=item.grade %></td>
            <td><%=item.enterNo %></td>
            <td><%=item.score %></td>
            <% if(upStr) { %>
            <td><%=item.isUp %></td>
            <% } %>
            <td><%=item.teacher %></td>
            <td><%=item.joinStat %></td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="j_pager" data-param="step=<%=query.step %>" data-page="<%=page || 0 %>"  data-count="<%=count || 1 %>"></div>
  </div>

</div>
<% block('footer').append(`<script src="${assetsPath}/js/jPager.js" ></script>`); %>
<% block('footer').append(`<script src="${assetsPath}/js/uploadFile.js"></script>`); %>
<% block('footer').append(`<script>
jQuery(function(){
    $('.j_pager').pager();
    $('#imgUpload').uploadFile(function(imgs){
    	console.log(imgs)
      // location.reload();
    });

})
</script>`)%>