<% layout('layout/layout1') %>
<% block('header').append(`<style>
.j_pager .pagination{
    margin:0;
}
</style>`)%>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
        <input type="text" name="" id="" placeholder=" 图片名称" style="width:250px" class="input-text">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a id="imgUpload" class="btn btn-primary radius" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加图片</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr>
                    <th><label><input name="checkAll" type="checkbox" value="all>">全选</label></th>
                    <th>图片预览</th>
                    <th style="max-width:150px;">图片名称</th>
                    <th>图片类型</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
            <% if(images.length==0){ %>
            <tr>
                <td class="text-center" colspan="5" style="padding:30px;">没有任何图片</td>
            </tr>
            <% }%>
            <% images.forEach(function(item){ %>
            <tr>
                <td><input name="check" class="check" type="checkbox" value="<%=item.name %>"></td>
                <td><div style="width:100px;height:100px;"><img src="<%=item.url || ''  %>" style="max-width:100%;max-height:100%;"></div></td>
                <td style="min-width:140px;white-space: normal;"><div style="max-width:150px;word-break:break-all; "><%=item.name %></div></td>
                <td><%=item.type %></td>
                <td><%=item.buildTime.minute %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        <div class="box-footer">
            <div class="j_pager" data-page="<%=page %>"  data-count="<%=count%>"></div>
        </div>
    </div>
</div>

<% block('footer').append(`<script src="${assetsPath}/js/uploadImg.js"></script>`); %>
<% block('footer').append(`<script src="${assetsPath}/lib/My97DatePicker/4.8/WdatePicker.js"></script>`); %>
<% block('footer').append(`<script src="${assetsPath}/js/pager.js" ></script>`); %>
<% block('footer').append(`<script>
    $('.j_pager').pager();
    $('#imgUpload').uploadImg(function(imgs){
        location.reload();
    });
    $('.box-body').on('click','.btn_del',function(e){
        var $this=$(this);
        $.confirm("你确定要删除这张图片么？").then(function(res){
           $.post('images',{name:$this.data("name"),path:$this.data("path"),type:"delete"})
            .done(function(res){
                console.log(res);
                $.alert("删除成功～").then(function(res){
                     location.reload();
                });
            })
        });
    });
</script>`)%>