<% layout('layout/layout') %>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3><%= todayOrderCount %></h3>
                <p>新的订单</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="<%=assetsPath %>/orders/index/waitPay" class="small-box-footer">查看详情 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3><%=todayUserCount %></h3>
                <p>今日新增用户</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="<%=assetsPath %>/users/index" class="small-box-footer">查看详情 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3><%=refundCount %></h3>
                <p>申请退款订单</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a  href="<%=assetsPath %>/orders/index/refunding" class="small-box-footer">查看详情 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3><%=userCount %></h3>
                <p>用户注册数</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="<%=assetsPath %>/users/index" class="small-box-footer">查看详情 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>