<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>白石山农场</title>
  <!--<script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script>-->
  <link rel="stylesheet" href="/css/app.css">
  <%- block('header') %>
</head>

<body ontouchstart>
<div class="mainPage">
  <%- body %>
  <% if (['/app/index', '/app/type', '/app/cart', '/app/center'].indexOf(basePath) > -1) { %>
  <div class="weui-tabbar" style="position:fixed">
    <a href="/app/index" class="weui-tabbar__item  <% if(basePath=='/app/index'){ %>weui-bar__item--on<% } %>">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-store weui-tabbar__label" style="line-height: 30px;"></i>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="/app/type" class="weui-tabbar__item <% if(basePath=='/app/type'){ %>weui-bar__item--on<% } %>" >
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-category weui-tabbar__label" style="line-height: 30px;"></i>
      </div>
      <p class="weui-tabbar__label">全部分类</p>
    </a>
    <a href="/app/cart" class="weui-tabbar__item  <% if(basePath=='/app/cart'){ %>weui-bar__item--on<% } %>">
      <span  id="cartBadge"  class="weui-badge <%=cartNum===0?' hide':'' %>" style="position: absolute;top: 0px;right: 2em;"><%=cartNum %></span>
      <div class="weui-tabbar__icon">
        <i class="iconfont  icon-cart weui-tabbar__label" style="line-height: 30px;"></i>
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>
    <a href="/app/center" class="weui-tabbar__item <% if(basePath=='/app/center'){ %>weui-bar__item--on<% } %>">
      <div class="weui-tabbar__icon">
        <i class="iconfont icon-account weui-tabbar__label" style="line-height: 30px;"></i>
      </div>
      <p class="weui-tabbar__label">个人中心</p>
    </a>
  </div>
  <% } %>
</div>
<script src="/app/js/lib/jquery-2.1.4.js"></script>
<script src="/app/js/lib/underscore-min.js"></script>
<script src="/app/js/lib/fastclick.js"></script>
<!--<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" ></script>-->

<script src="/app/js/lib/jquery-weui.js"></script>
<script src="/app/js/app.js"></script>
<script>
	jQuery(function(){
		FastClick.attach(document.body);
	})
</script>
<%- block('footer') %>
<% if(isWeixin) { %>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	var signJson=<%-JSON.stringify(signJson) %>
	var dfShare=<%-JSON.stringify(dfShare) %>
		wx.config({
			debug: true,
			appId: signJson.appid,
			timestamp:''+signJson.timestamp,
			nonceStr: signJson.noncestr,
			signature: signJson.signature,
			jsApiList: [
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ',
				'onMenuShareWeibo',
				'onMenuShareQZone',
				'chooseImage',
				'uploadImage',
				'downloadImage',
				'previewImage',
				'startRecord',
				'stopRecord',
				'onVoiceRecordEnd',
				'playVoice',
				'pauseVoice',
				'stopVoice',
				'onVoicePlayEnd',
				'uploadVoice',
				'getLocation',
				'openLocation',
				'scanQRCode'
			]
		});
		wx.ready(function() {
			var onMenuArr=['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ']
//			var	sendArr=['pengyouquan','haoyou','qqhaoyou']
			var len=onMenuArr.length;
			for(var i=0;i<len;i++){
				var onMenuOption= {
					title: dfShare.title,
					link: dfShare.link,
					imgUrl: dfShare.imgUrl,
					desc: dfShare.desc,
					success:function(){
						$.toast('已分享','success');
          },
					cancel:function(){
						$.toast('分享已取消','cancel');
					}
				};
				wx[onMenuArr[i]](onMenuOption);
			}
		})
    wx.error(function (err) {
      console.log("微信签名出错了");
    })
</script>
<% } %>
</body>
</html>