<!DOCTYPE html>
<html  class="no-js"  lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- PC网站禁止响应式 -->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="<%=webInfo.webIntro.value %>">
  <meta name="author" content="czwaiwai">
  <meta name="keywords" content="<%=webInfo.company.value %>,官方网站，<%=webInfo.webName.value %>">
  <meta name="copyright" content="<%=webInfo.company.value %>版权所有">
  <link rel="icon" href="/favicon.ico">
  <title><%=title %>-官方网站-<%=webInfo.company.value %></title>

  <link href="/css/main.css" rel="stylesheet">
  <!--<link href="js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <%- block('header') %>
<!--[if lte IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<script src="/js/selectivizr.js"></script>
<script src="/js/classList-polyfill.js"></script>
<![endif]-->
<!--[if lte IE 8]>
<script src="/js/ieBetter.min.js"></script>
<![endif]-->
</head>
<body <% if (is_phone){ %>ontouchstart=""<% } %> class="">
<!--[if lte IE 8]>
<div  id="ieDisplay" class="alert alert-warning alert-dismissible"  style="margin-bottom:0;" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  不好意思，如果你看到这个警告说明你的浏览器已经很古老了，可能会出现访问上会出现许多未知问题或错误，为了提供更好的服务，请您更换新的浏览器。 你们可以使用360浏览器、谷歌浏览器、搜狗浏览器、猎豹浏览器、QQ浏览器、百度浏览器等
</div>
<![endif]-->
<div style="display: flex;flex-direction: column;height: 100%;">
  <div style="flex:1;">
    <h1 class="text-center" style="padding-top:20%;">网站暂未开放</h1>
  </div>
  <div class="footer" style="height:auto;margin-top:0;">
    <div class="copyright-bar">
      <div class="container fs12 text-center">
        <%=webInfo.copyright.value %> | <%=webInfo.record.value %>
      </div>
    </div>
  </div>
</div>

<script src="/js/ieWarn.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<!--<script src="/js/foundation.min.js"></script>-->
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
<script src="/js/bootoast.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/main.js"></script>
<%- block('footer') %>
</body>
</html>