<!DOCTYPE html>
<html  class="no-js"  lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- PC网站禁止响应式 -->
  <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">-->
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="网上商城">
  <meta name="author" content="czwaiwai">
  <meta name="keywords" content="网上商城">
  <meta name="copyright" content="深圳非常赞网络科技有限公司">
  <link rel="icon" href="/favicon.ico">
  <title><%=title %></title>
  <!--<link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link href="/js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <!--<link href="/js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">-->
  <!--<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
  <link href="/css/main.css" rel="stylesheet">
  <style>

  </style>
  <!--<link href="js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <%- block('header') %>
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <script src="/js/selectivizr.js"></script>
  <![endif]-->
</head>
<body <% if (is_phone){ %>ontouchstart=""<% } %> class="">
  <div class="wrap">
    <div class="main">
      <div class="w-hd hidden-xs site-nav">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <!--<a class="site-link" href="/">好的生活，没那么贵</a>-->
            </div>
            <div class="col-md-7 text-right clearfix">
              <div class="inline-block" >
                  <% if(user){ %>
                <a href="/account/index" class="site-link margin-right15"><%=user.userName %></a>
                <a href="/logout" class="site-link margin-right">退出</a>
                  <% }else{%>
                <a class="site-link margin-right15" href="/login" >登录</a>
                <a class="site-link margin-right" href="/register">注册</a>
                  <% }%>
                <div class="split"></div>
                <a class="site-link margin-right" href="/cart/index">购物车
                  <span id="cartBadge"  class="badge <%=cartNum===0?' hide':'' %>" style="background:#a94442;margin-top: -3px;color:#FFF;"><%=cartNum %></span>
                </a>
                <div class="split"></div>
                <!--<a class="site-link margin-right">帮助中心</a>-->
                <!--<div class="split"></div>-->
                <!--<a class="site-link margin-right">在线客服</a>-->
                <!--<div class="split"></div>-->
                <a class="site-link margin-right" href="/page/about">关于我们</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default  " style="color:#59b210;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding:0" href="/">
              <div style="background:#FFF;display:inline-block;width: 40px;padding: 3px;">
                <img src="/logo.png" style="max-width:100%;">
              </div>
              <span style="font-size: 32px;font-weight: bold;vertical-align: middle;"><%=webInfo.webName.value %></span>
            </a>
          </div>
          <div id="navbar" class="collapse  navbar-right  navbar-collapse">
            <ul class="nav navbar-nav">
              <% catalogs.forEach(function(item){ %>
                <% if(item.isValid){ %>
                 <li  <% if(basePath==item.relativeUrl){ %>class="active"<% } %>><a href="<%=item.relativeUrl %>"><%= item.nameCn %></a></li>
                <% } %>
              <% }) %>
            </ul>
          </div>
        </div>
      </nav>
      <div >
        <div class="container" >
          <% if(success){  %>
          <div  id="flashAlert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=success %>
          </div>
          <% } %>
        </div>
        <%- body %>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <!--<div class="text-center">-->
            <!--<ul class="footer_nav clearfix">-->
                <!--<% catalogs.forEach(function(item){ %>-->
              <!--<li class="footer_nav_item" ><a href="<%=item.relativeUrl %>"><%= item.nameCn %></a></li>-->
                <!--<% }) %>-->
            <!--</ul>-->
          <!--</div>-->
          <div class="fs14 text-center">
            <i class="fa fa-map-marker "></i> <span><%=webInfo.address.value %></span>
            <i class="fa fa-mobile"></i> <span><%=webInfo.mobile.value %></span>
            <i class="fa fa-envelope"></i> <span><%=webInfo.company.value %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container text-center">
        <%=webInfo.copyright.value %> | <%=webInfo.record.value %>
      </div>
    </div>
  </div>
<script src="/js/ieWarn.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<!--<script src="/js/foundation.min.js"></script>-->
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
<script src="/js/bootoast.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/main.js"></script>
<%- block('footer') %>
</body>
</html>