<!DOCTYPE html>
<html  class="no-js"  lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- PC网站禁止响应式 -->
  <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">-->
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="白石山农庄专注打造绿色餐饮为己任，所有食材均自产自销，喂养过程不添加任何工业饲料和抗生素。白石山专注做好有机农产品，为赤壁人民的菜篮子安全保驾护航，用山泉水灌溉水田和养殖水产品，用有机肥料培植农作物，100%保证农产品有机化生产，如有虚假，假一赔十。">
  <meta name="author" content="czwaiwai">
  <meta name="keywords" content="白石山生态农场,官方网站，白石山，白石山生态,生态农场">
  <meta name="copyright" content="白石山生态农场版权所有">
  <link rel="icon" href="/favicon.ico">
  <title><%=title %>-官方网站-白石山生态农场</title>

  <link href="/css/main.css" rel="stylesheet">
  <!--<link href="js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <%- block('header') %>
<!--[if lte IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<script src="/js/selectivizr.js"></script>
<script src="/js/classList-polyfill.js"></script>
<![endif]-->
<!--[if lte IE 8]>
<script src="/js/ieBetter.min.js"></script>
<![endif]-->
<script src="/dist/require.min.js"></script>
<script >
  require.config({
    baseUrl: '/js',
    paths: {
      'jquery': 'lib/jquery-1.12.0.min',
      'jquery.qrcode': 'lib/jquery.qrcode.min',
      'jquery.lazyload': 'lib/jquery.lazyload.min',
      'underscore': 'lib/underscore.min',
      'bootstrap': 'lib/bootstrap.min',
      'bootstrapDialog': 'lib/bootstrap-dialog.min',
      'bootoast': 'bootoast',
      'jPager': 'jPager',
      'spinner': 'spinner',
      'uploadImg': 'uploadImg',
      'main': 'lib/main'
    },
    shim: {
       'jquery': {
       	  exports: '$'
       },
       'underscore': {
       	  exports: '_'
       },
       'jquery.qrcode': {
       	  deps: ['jquery'],
          exports: 'jQuery.fn.qrcode'
       },
       'jquery.lazyload': {
          deps: ['jquery'],
          exports: 'jQuery.fn.lazyload'
       },
       'bootstrap': {
          deps: ['jquery']
       },
       'jPager': {
         deps: ['jquery'],
         exports: 'jQuery.fn.pager'
       },
       'spinner': {
         deps: ['jquery'],
         exports: 'jQuery.fn.Spinner'
       },
       'uploadImg': {
       	 deps: ['jquery'],
         exports: 'jQuery.fn.uploadImg'
       },
       'adChoose': {
       	 deps: ['jquery'],
         exports: 'jQuery.fn.adChoose'
       },
       'bootoast': {
       	  deps: ['jquery'],
          exports: 'bootoast'
       }
    }
  })
  // require(['$', '_', 'main'], function ($, _ , main) {
  // 	console.log($, _ , main)
  // })
</script>
</head>
<body <% if (is_phone){ %>ontouchstart=""<% } %> class="">
<!--[if lte IE 8]>
<div  id="ieDisplay" class="alert alert-warning alert-dismissible"  style="margin-bottom:0;" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  不好意思，如果你看到这个警告说明你的浏览器已经很古老了，可能会出现访问上会出现许多未知问题或错误，为了提供更好的服务，请您更换新的浏览器。 你们可以使用360浏览器、谷歌浏览器、搜狗浏览器、猎豹浏览器、QQ浏览器、百度浏览器等
</div>
<![endif]-->
  <div class="wrap">
    <div class="main">
      <div class="w-hd hidden-xs site-nav">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7 text-right clearfix">
              <div class="inline-block" >
                  <% if(user){ %>
                <a href="/account/index" class="site-link margin-right15"><%=user.userName %></a>
                <a href="/logout" class="site-link margin-right">退出</a>
                  <% }else{%>
                <a class="site-link margin-right15" href="/login" >登录</a>
                <a class="site-link margin-right" href="/register">注册</a>
                  <% }%>
                <div class="split"></div>
                <a class="site-link margin-right" href="/cart/index">购物车
                  <span id="cartBadge"  class="badge <%=cartNum===0?' hide':'' %>" style="background:#a94442;margin-top: -3px;color:#FFF;"><%=cartNum %></span>
                </a>
                <div class="split"></div>
                <!--<a class="site-link margin-right">帮助中心</a>-->
                <!--<div class="split"></div>-->
                <!--<a class="site-link margin-right">在线客服</a>-->
                <!--<div class="split"></div>-->
                <a class="site-link margin-right" href="/page/about">关于我们</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default  " style="color:#59b210;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding:0" href="/">
              <div style="background:#FFF;display:inline-block;width: 40px;padding: 3px;">
                <img src="/logo.png" style="max-width:100%;">
              </div>
              <span style="font-size: 32px;font-weight: bold;vertical-align: middle;"><%=webInfo.webName.value %></span>
            </a>
          </div>
          <div id="navbar" class="collapse  navbar-right  navbar-collapse">
            <ul class="nav navbar-nav">
              <% catalogs.forEach(function(item){ %>
                <% if(item.isValid){ %>
                 <li  <% if(basePath==item.relativeUrl || (item.relativeUrl === '/goods/index' && basePath.indexOf('goods/detail')> -1)){ %>class="active"<% } %>>
                   <a href="<%=item.relativeUrl %>"><%= item.nameCn %></a>
                 </li>
                <% } %>
              <% }) %>
            </ul>
          </div>
        </div>
      </nav>
      <div >
        <div class="container" >
          <% if(success){  %>
          <div  id="flashAlert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=success %>
          </div>
          <% } %>
        </div>
        <%- body %>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <!--<div class="text-center">-->
            <!--<ul class="footer_nav clearfix">-->
                <!--<% catalogs.forEach(function(item){ %>-->
              <!--<li class="footer_nav_item" ><a href="<%=item.relativeUrl %>"><%= item.nameCn %></a></li>-->
                <!--<% }) %>-->
            <!--</ul>-->
          <!--</div>-->
          <div class="fs14 text-center">
            <i class="fa fa-map-marker "></i> <span><%=webInfo.address.value %></span>
            <i class="fa fa-mobile"></i> <span><%=webInfo.mobile.value %></span>
            <i class="fa fa-envelope"></i> <span><%=webInfo.company.value %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container text-center">
        <%=webInfo.copyright.value %> | <%=webInfo.record.value %>
      </div>
    </div>
  </div>
<!--<script src="/js/ieWarn.js"></script>-->
<!--<script src="/js/jquery-1.12.0.min.js"></script>-->
<!--<script src="/js/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="/js/bootstrap-dialog.min.js"></script>-->
<!--<script src="/js/underscore-min.js"></script>-->
<!--<script src="/js/jquery.validate.js"></script>-->
<!--<script src="/js/bootoast.js"></script>-->
<!--<script src="/js/main.js"></script>-->
<%- block('footer') %>
</body>
</html>