<!DOCTYPE html>
<html  class="no-js"  lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- PC网站禁止响应式 -->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="<%=webInfo.webIntro.value %>">
  <meta name="author" content="czwaiwai">
  <meta name="keywords" content="<%=webInfo.company.value %>,官方网站，<%=webInfo.webName.value %>">
  <meta name="copyright" content="<%=webInfo.company.value %>版权所有">
  <link rel="icon" href="/favicon.ico">
  <title><%=title %>-官方网站-<%=webInfo.company.value %></title>

  <link href="/css/main.css" rel="stylesheet">
  <!--<link href="js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <%- block('header') %>
<!--[if lte IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<script src="/js/selectivizr.js"></script>
<script src="/js/classList-polyfill.js"></script>
<![endif]-->
<!--[if lte IE 8]>
<script src="/js/ieBetter.min.js"></script>
<![endif]-->
</head>
<body <% if (is_phone){ %>ontouchstart=""<% } %> class="">
<!--[if lte IE 8]>
<div  id="ieDisplay" class="alert alert-warning alert-dismissible"  style="margin-bottom:0;" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  不好意思，如果你看到这个警告说明你的浏览器已经很古老了，可能会出现访问上会出现许多未知问题或错误，为了提供更好的服务，请您更换新的浏览器。 你们可以使用360浏览器、谷歌浏览器、搜狗浏览器、猎豹浏览器、QQ浏览器、百度浏览器等
</div>
<![endif]-->
  <div class="wrap">
    <div class="main">
      <div class="header" style="height:72px;">
      <nav class="navbar navbar-default" data-spy="affix" data-offset-top="0" style="width: 100%;height: 72px;z-index: 100;" >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="/"><%=webInfo.webName.value %></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% catalogs.filter(function(item) {return item.isValid}).forEach(function(item){ %>
                <% if(item.childrens.length===0){ %>
                 <li  <% if(basePath==item.relativeUrl || (item.relativeUrl === '/goods/index' && basePath.indexOf('goods/detail')> -1)){ %>class="active"<% } %>>
                   <a href="<%=item.relativeUrl %>"><%= item.nameCn %></a>
                 </li>
                <% } else { %>
                  <li class="dropdown">
                    <a href="<%=item.childrens[0].relativeUrl %>" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= item.nameCn %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% item.childrens.forEach(function(sub) { %>
                      <li><a href="<%=sub.relativeUrl %>"><%= sub.nameCn %></a></li>
                      <% }) %>
                    </ul>
                  </li>
                <% } %>
              <% }) %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
      <div >
        <div class="container" >
          <% if(success){  %>
          <div  id="flashAlert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=success %>
          </div>
          <% } %>
        </div>
        <%- body %>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-bottom" style="padding:60px 0;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 text-center " style="padding-bottom:20px;">
            <img src="<%=webInfo.webLogo.value %>">
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left:30px;height:36px;line-height:36px;">名称：<span><%=webInfo.company.value %></span></div>
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left:30px;height:36px;line-height:36px;">地址：<span><%=webInfo.address.value %></span></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left:30px;height:36px;line-height:36px;">电话：<span><%=webInfo.mobile.value %></span></div>
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding-left:30px;height:36px;line-height:36px;">邮件：<span><%=webInfo.email.value %></span></div>
            </div>
          </div>
          <!-- <div class="fs14 text-center">
            <i class="fa fa-map-marker "></i> 
            <i class="fa fa-mobile"></i> 
            <i class="fa fa-envelope"></i> 
          </div> -->
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container fs12 text-center">
        <%=webInfo.copyright.value %> | <a href="http://www.beian.miit.gov.cn" target="_blank"><%=webInfo.record.value %></a>
      </div>
    </div>
  </div>
<script src="/js/ieWarn.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<!--<script src="/js/foundation.min.js"></script>-->
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
<script src="/js/bootoast.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/main.js"></script>
<%- block('footer') %>
</body>
</html>