<!DOCTYPE html>
<html  class="no-js"  lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="网上商城">
  <meta name="author" content="czwaiwai">
  <meta name="keywords" content="网上商城">
  <meta name="copyright" content="深圳非常赞网络科技有限公司">
  <link rel="icon" href="/favicon.ico">
  <title><%=title %></title>
  <!--<link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link href="/js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <!--<link href="/js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">-->
  <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <style>

  </style>
  <!--<link href="js/bootstrap/css/non-responsive.css" rel="stylesheet">-->
  <%- block('header') %>
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <script src="/js/selectivizr.js"></script>
  <![endif]-->
</head>
<body>
  <div class="w-hd">
    <div class="site-nav">
      <div class="w-row">
         <a class="site-link" href="/">好的生活，没那么贵</a>
         <div class="float_right" >
            <% if(user){ %>
              <a href="#" class="site-link margin-right15"><%=user.userName %></a> <span class="site-link">/</span> <a href="/logout" class="site-link margin-right">退出</a>
            <% }else{%>
             <a class="site-link margin-right15" href="/login" >登录</a>
             <a class="site-link margin-right" href="/register">注册</a>
            <% }%>
           <div class="split"></div>
           <a class="site-link margin-right">我的订单</a>
           <div class="split"></div>
           <a class="site-link margin-right">帮助中心</a>
           <div class="split"></div>
           <a class="site-link margin-right">在线客服</a>
           <div class="split"></div>
           <a class="site-link margin-right" href="/page/about">关于我们</a>
         </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WaiWai</a>
      </div>
      <div id="navbar" class="collapse  navbar-right  navbar-collapse">
        <ul class="nav navbar-nav">
          <li  <% if(path=="/"){ %>class="active"<% } %>><a href="/">首页</a></li>
          <li  <% if(path=="/page/company"){ %>class="active"<% } %>><a href="/page/company">公司介绍</a></li>
          <li  <% if(path=="/1232"){ %>class="active"<% } %>><a href="/">新闻动态</a></li>
          <li  <% if(path=="/32432"){ %>class="active"<% } %>><a href="/">烹调菜谱</a></li>
          <li  <% if(path=="/page/info"){ %>class="active"<% } %>><a href="/page/info">发货通知</a></li>
          <li  <% if(path=="/page/contact"){ %>class="active"<% } %>><a href="/page/contact">联系我们</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div >
    <% if(success){  %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=success %>
    </div>
    <% } %>
    <%= path %>
      <%- body %>
  </div>
<script src="/js/ieWarn.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<!--<script src="/js/foundation.min.js"></script>-->
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
<script src="/js/main.js"></script>
<%- block('footer') %>
</body>
</html>