<% layout('layout/layout') %>
<% block('header').append(`<style>

 .thumbnail {
    margin: 5px -10px;
 }

 .sidebar .side-menu {
    background-color: #fff;
    border-radius: 2px;
    border: 1px #e5e5e5 solid;
 }
 .sidebar .side-menu .head {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 17px;
    text-transform: uppercase;
    background-color: #59b210;
    border: 1px solid #59b210;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-bottom: 1px #59b210 solid;
}
 .sidebar .side-menu nav .nav > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
 }
 .sidebar .side-menu nav .nav > li > a {
    padding: 13px 15px;
    color: #666666;
    letter-spacing: 0.2px;
    font-size:14px;
}
.sidebar .side-menu nav .nav > li > a:after {
    color: #bababa;
    content: "\\e6a7";
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 10px;
    font-family: "iconfont";
}

</style>`) %>
<div class=" container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active"><%= title %></li>
  </ol>
  <div class="row">
    <div  class="hidden-xs col-sm-3 col-md-3 sidebar ">
      <div class="side-menu animate-dropdown outer-bottom-xs">
        <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> 产品列表</div>
        <nav class="yamm megamenu-horizontal" role="navigation">
          <ul class="nav">
            <li class="menu-item active">
              <a href="./index" >全部产品</a>
            </li>
            <% goodTypes.forEach(function(item) { %>
            <li class="menu-item">
              <a href="?catalog=<%=item.name %>" ><%=item.nameCn %></a>
            </li>
            <% }) %>
          </ul><!-- /.nav -->
        </nav><!-- /.megamenu-horizontal -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
      <div class="row">
        <% goods.forEach(function(item){  %>
        <div  class="col-xs-6 col-sm-4 col-md-4  col-lg-3">
            <a href="/goods/detail/<%=item._id %>" class="thumbnail">
              <div style="">
                <img data-src="holder.js/100%x200" src="<%=item.imgTmb %>" alt="100%x200" style="width: 100%; display: block;" >
              </div>
              <div class="caption">
                <h5 class="dot text-center"><%=item.name%></h5>
                <p class="text-center">￥<%=item.sellPrice %></p>
              </div>
            </a>
        </div>
        <% }) %>
      </div>
      <div class="row">
        <div class="j_pager" data-page="<%=page %>"  data-param="<%=query.catalog?'catalog='+query.catalog:'' %>"   data-count="<%=count %>"></div>
      </div>
    </div>
  </div>
</div>
<% block('footer').append(`<script src="/js/jPager.js" ></script>`); %>
<% block('footer').append(`<script>
jQuery(function () {
	$('.j_pager').pager()
})
</script>`) %>